body {
  background-color: #350d36;
}
h1 {
  text-align: center;
  color: white;
}

.grid {
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body > div > div:nth-child(odd) {
  background-color: #c5c4af;
}
body > div > div:nth-child(even) {
  background-color: #993433;
}

.boxes img {
  width: 318px;
  height: 300px;
}
